data/.flows.json.backup
[
    {
        "id": "1298b4fe103a59c1",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1bb105999f7bf48d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb6e5802fe203538",
        "type": "swagger-doc",
        "summary": "",
        "description": "",
        "tags": "",
        "consumes": "",
        "produces": "",
        "parameters": [
            {
                "name": "layer",
                "in": "query",
                "required": false
            },
            {
                "name": "layer",
                "in": "path",
                "required": true,
                "type": "string"
            }
        ],
        "responses": {
            "200": {
                "description": "",
                "schema": {
                    "properties": {
                        "": {}
                    }
                }
            }
        },
        "deprecated": false
    },
    {
        "id": "47024cd317db17ab",
        "type": "file in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "filename": "/tmp/pushed_config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "7363bea883e8aac8"
            ]
        ]
    },
    {
        "id": "87cc1b229b4a4f0d",
        "type": "http in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "url": "/layer_iflist/:layer",
        "method": "get",
        "upload": false,
        "swaggerDoc": "fb6e5802fe203538",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "47024cd317db17ab"
            ]
        ]
    },
    {
        "id": "da715f9bdd546276",
        "type": "http response",
        "z": "1298b4fe103a59c1",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "7363bea883e8aac8",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 160,
        "wires": [
            [
                "13feff8e4915cc17"
            ]
        ]
    },
    {
        "id": "13feff8e4915cc17",
        "type": "function",
        "z": "1298b4fe103a59c1",
        "name": "layerx_parse",
        "func": "var ietfnetwork = msg[\"payload\"][\"ietf-network:networks\"]\n\nfor(const item of ietfnetwork[\"network\"]) {\n    if (item[\"network-id\"] == msg.req.params.layer ) {\n        var array = [];\n        for ( var targetnode of item[\"node\"] ) {\n            var tmpdict = { \"node\": \"\", \"iflist\": \"\" };\n            tmpdict.node = targetnode[\"node-id\"]\n            var array2 = [];\n            for (const item2 of targetnode[\"ietf-network-topology:termination-point\"]) {\n                array2.push(item2[\"tp-id\"]);\n            }\n            tmpdict.iflist = array2;\n            array.push(tmpdict)\n  \n            //msg.payload = item[\"node\"];\n        };\n        msg.payload = array;\n    };\n};\n//msg.payload = ietfnetwork;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 80,
        "wires": [
            [
                "da715f9bdd546276",
                "98d4fe11fefcdde5"
            ]
        ]
    },
    {
        "id": "98d4fe11fefcdde5",
        "type": "debug",
        "z": "1298b4fe103a59c1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 220,
        "wires": []
    },
    {
        "id": "708dc1a65e4d27fb",
        "type": "inject",
        "z": "1298b4fe103a59c1",
        "name": "ospf",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "req",
                "v": "{\"params\":{\"area\": \"area0\"} }",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ietf-network:networks\":{\"network\":[{\"network-id\":\"ospf_area0\",\"network-types\":{\"mddo-topology:ospf-area-network\":{}},\"node\":[{\"node-id\":\"Seg_10.0.0.0/30\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"rt2_ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.0.0/30\",\"tp-ref\":\"rt2_ge-0/0/0.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}},{\"tp-id\":\"rt1_ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.0.0/30\",\"tp-ref\":\"rt1_ge-0/0/1.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.0.0/30\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"segment\",\"router-id\":\"\",\"router-id-source\":\"auto\",\"log-adjacency-change\":false,\"redistribute\":[]}},{\"node-id\":\"rt1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt1\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.2\",\"ip-address\":\"10.0.0.2/30\"}]}},{\"tp-id\":\"ge-0/0/2.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt1\",\"tp-ref\":\"ge-0/0/2.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.3\",\"ip-address\":\"10.0.1.2/30\"}]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt1\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"ospf_proc\",\"router-id\":\"172.16.0.1\",\"router-id-source\":\"static\",\"log-adjacency-change\":false,\"redistribute\":[{\"protocol\":\"connected\",\"metric-type\":2},{\"protocol\":\"static\",\"metric-type\":2}]}},{\"node-id\":\"rt2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt2\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":2,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.1\",\"ip-address\":\"10.0.0.1/30\"}]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt2\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.3\",\"ip-address\":\"10.1.0.2/24\"},{\"router-id\":\"172.16.0.4\",\"ip-address\":\"10.1.0.3/24\"}]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt2\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"ospf_proc\",\"router-id\":\"172.16.0.2\",\"router-id-source\":\"static\",\"log-adjacency-change\":false,\"redistribute\":[{\"protocol\":\"connected\",\"metric-type\":2}]}},{\"node-id\":\"Seg_10.0.1.0/30\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"rt3_ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.1.0/30\",\"tp-ref\":\"rt3_ge-0/0/0.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}},{\"tp-id\":\"rt1_ge-0/0/2.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.1.0/30\",\"tp-ref\":\"rt1_ge-0/0/2.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.1.0/30\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"segment\",\"router-id\":\"\",\"router-id-source\":\"auto\",\"log-adjacency-change\":false,\"redistribute\":[]}},{\"node-id\":\"rt3\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt3\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":3,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.1\",\"ip-address\":\"10.0.1.1/30\"}]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt3\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.2\",\"ip-address\":\"10.1.0.1/24\"},{\"router-id\":\"172.16.0.4\",\"ip-address\":\"10.1.0.3/24\"}]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt3\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"ospf_proc\",\"router-id\":\"172.16.0.3\",\"router-id-source\":\"static\",\"log-adjacency-change\":false,\"redistribute\":[{\"protocol\":\"connected\",\"metric-type\":2}]}},{\"node-id\":\"Seg_10.1.0.0/24\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"sw2_Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.1.0.0/24\",\"tp-ref\":\"sw2_Ethernet2\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}},{\"tp-id\":\"sw2_Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.1.0.0/24\",\"tp-ref\":\"sw2_Ethernet1\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}},{\"tp-id\":\"sw2_Ethernet3\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.1.0.0/24\",\"tp-ref\":\"sw2_Ethernet3\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.1.0.0/24\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"segment\",\"router-id\":\"\",\"router-id-source\":\"auto\",\"log-adjacency-change\":false,\"redistribute\":[]}},{\"node-id\":\"rt4\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt4\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.3\",\"ip-address\":\"10.1.0.2/24\"},{\"router-id\":\"172.16.0.2\",\"ip-address\":\"10.1.0.1/24\"}]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt4\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt4\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"ospf_proc\",\"router-id\":\"172.16.0.4\",\"router-id-source\":\"static\",\"log-adjacency-change\":false,\"redistribute\":[{\"protocol\":\"connected\",\"metric-type\":2}]}},{\"node-id\":\"Seg_192.168.0.0/24\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"sw3_Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_192.168.0.0/24\",\"tp-ref\":\"sw3_Ethernet1\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_192.168.0.0/24\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"segment\",\"router-id\":\"\",\"router-id-source\":\"auto\",\"log-adjacency-change\":false,\"redistribute\":[]}}],\"ietf-network-topology:link\":[{\"link-id\":\"Seg_10.0.0.0/30,rt2_ge-0/0/0.0,rt1,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.0.0.0/30\",\"source-tp\":\"rt2_ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt1,ge-0/0/1.0,Seg_10.0.0.0/30,rt2_ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.0.0/30\",\"dest-tp\":\"rt2_ge-0/0/0.0\"}},{\"link-id\":\"Seg_10.0.0.0/30,rt1_ge-0/0/1.0,rt2,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.0.0.0/30\",\"source-tp\":\"rt1_ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt2,ge-0/0/0.0,Seg_10.0.0.0/30,rt1_ge-0/0/1.0\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.0.0/30\",\"dest-tp\":\"rt1_ge-0/0/1.0\"}},{\"link-id\":\"Seg_10.0.1.0/30,rt3_ge-0/0/0.0,rt1,ge-0/0/2.0\",\"source\":{\"source-node\":\"Seg_10.0.1.0/30\",\"source-tp\":\"rt3_ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/2.0\"}},{\"link-id\":\"rt1,ge-0/0/2.0,Seg_10.0.1.0/30,rt3_ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/2.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.1.0/30\",\"dest-tp\":\"rt3_ge-0/0/0.0\"}},{\"link-id\":\"Seg_10.0.1.0/30,rt1_ge-0/0/2.0,rt3,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.0.1.0/30\",\"source-tp\":\"rt1_ge-0/0/2.0\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt3,ge-0/0/0.0,Seg_10.0.1.0/30,rt1_ge-0/0/2.0\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.1.0/30\",\"dest-tp\":\"rt1_ge-0/0/2.0\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet2,rt3,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet2\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt3,ge-0/0/1.0,Seg_10.1.0.0/24,sw2_Ethernet2\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet2\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet1,rt2,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet1\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt2,ge-0/0/1.0,Seg_10.1.0.0/24,sw2_Ethernet1\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet1\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet3,rt4,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet3\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt4,ge-0/0/0.0,Seg_10.1.0.0/24,sw2_Ethernet3\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet3\"}},{\"link-id\":\"Seg_192.168.0.0/24,sw3_Ethernet1,rt4,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_192.168.0.0/24\",\"source-tp\":\"sw3_Ethernet1\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt4,ge-0/0/1.0,Seg_192.168.0.0/24,sw3_Ethernet1\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_192.168.0.0/24\",\"dest-tp\":\"sw3_Ethernet1\"}}],\"supporting-network\":[{\"network-ref\":\"layer3\"}],\"mddo-topology:ospf-area-network-attributes\":{\"name\":\"\",\"identifier\":\"0.0.0.0\",\"flag\":[]}},{\"network-id\":\"layer3\",\"network-types\":{\"mddo-topology:l3-network\":{}},\"node\":[{\"node-id\":\"Seg_203.0.113.0/24\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"sw1_Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw1_Vlan1\",\"tp-ref\":\"Ethernet2\"}]},{\"tp-id\":\"sw1_Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw1_Vlan1\",\"tp-ref\":\"Ethernet1\"}]}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/0.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"sw1_Vlan1\"},{\"network-ref\":\"layer2\",\"node-ref\":\"serv1_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"segment\",\"prefix\":[{\"prefix\":\"203.0.113.0/24\",\"metric\":0,\"flag\":[]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"rt1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet2\",\"ip-address\":[\"203.0.113.1/24\"],\"flag\":[]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/1.0\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_RT2_ge-0/0/0\",\"ip-address\":[\"10.0.0.1/30\"],\"flag\":[]}},{\"tp-id\":\"ge-0/0/2.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/2.0\",\"tp-ref\":\"ge-0/0/2.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_RT3_ge-0/0/0\",\"ip-address\":[\"10.0.1.1/30\"],\"flag\":[]}},{\"tp-id\":\"lo0.0\",\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"\",\"ip-address\":[\"172.16.0.1/32\"],\"flag\":[\"loopback\"]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/0.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/1.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/2.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"203.0.113.0/24\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"10.0.0.0/30\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"10.0.1.0/30\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"172.16.0.1/32\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"serv1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"serv1_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet1\",\"ip-address\":[\"203.0.113.2/24\"],\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"serv1_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"203.0.113.0/24\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[{\"prefix\":\"0.0.0.0/0\",\"next-hop\":\"203.0.113.1\",\"interface\":\"dynamic\",\"metric\":0,\"preference\":5,\"description\":\"\"}],\"flag\":[]}},{\"node-id\":\"Seg_10.0.0.0/30\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"rt2_ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}]},{\"tp-id\":\"rt1_ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/1.0\",\"tp-ref\":\"ge-0/0/1.0\"}]}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/1.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"segment\",\"prefix\":[{\"prefix\":\"10.0.0.0/30\",\"metric\":0,\"flag\":[]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"rt2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/1\",\"ip-address\":[\"10.0.0.2/30\"],\"flag\":[]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/1.0\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet1\",\"ip-address\":[\"10.1.0.1/24\"],\"flag\":[]}},{\"tp-id\":\"lo0.0\",\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"\",\"ip-address\":[\"172.16.0.2/32\"],\"flag\":[\"loopback\"]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/0.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/1.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"10.0.0.0/30\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"10.1.0.0/24\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"172.16.0.2/32\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"Seg_10.0.1.0/30\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"rt3_ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}]},{\"tp-id\":\"rt1_ge-0/0/2.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/2.0\",\"tp-ref\":\"ge-0/0/2.0\"}]}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/2.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"segment\",\"prefix\":[{\"prefix\":\"10.0.1.0/30\",\"metric\":0,\"flag\":[]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"rt3\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/2\",\"ip-address\":[\"10.0.1.2/30\"],\"flag\":[]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/1.0\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet2\",\"ip-address\":[\"10.1.0.2/24\"],\"flag\":[]}},{\"tp-id\":\"lo0.0\",\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"\",\"ip-address\":[\"172.16.0.3/32\"],\"flag\":[\"loopback\"]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/0.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/1.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"10.0.1.0/30\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"10.1.0.0/24\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"172.16.0.3/32\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"Seg_10.1.0.0/24\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"sw2_Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw2_Vlan1\",\"tp-ref\":\"Ethernet2\"}]},{\"tp-id\":\"sw2_Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw2_Vlan1\",\"tp-ref\":\"Ethernet1\"}]},{\"tp-id\":\"sw2_Ethernet3\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw2_Vlan1\",\"tp-ref\":\"Ethernet3\"}]}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/1.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"sw2_Vlan1\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/1.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"segment\",\"prefix\":[{\"prefix\":\"10.1.0.0/24\",\"metric\":0,\"flag\":[]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"rt4\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet3\",\"ip-address\":[\"10.1.0.3/24\"],\"flag\":[]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/1.0\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet1\",\"ip-address\":[\"192.168.0.1/24\"],\"flag\":[]}},{\"tp-id\":\"lo0.0\",\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"\",\"ip-address\":[\"172.16.0.4/32\"],\"flag\":[\"loopback\"]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/0.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/1.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"10.1.0.0/24\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"192.168.0.0/24\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"172.16.0.4/32\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"Seg_192.168.0.0/24\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"sw3_Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw3_Vlan1\",\"tp-ref\":\"Ethernet1\"}]},{\"tp-id\":\"sw3_Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw3_Vlan1\",\"tp-ref\":\"Ethernet2\"}]}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/1.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"sw3_Vlan1\"},{\"network-ref\":\"layer2\",\"node-ref\":\"serv2_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"segment\",\"prefix\":[{\"prefix\":\"192.168.0.0/24\",\"metric\":0,\"flag\":[]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"serv2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"serv2_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet2\",\"ip-address\":[\"192.168.0.2/24\"],\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"serv2_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"192.168.0.0/24\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[{\"prefix\":\"0.0.0.0/0\",\"next-hop\":\"192.168.0.1\",\"interface\":\"dynamic\",\"metric\":0,\"preference\":5,\"description\":\"\"}],\"flag\":[]}}],\"ietf-network-topology:link\":[{\"link-id\":\"Seg_203.0.113.0/24,sw1_Ethernet2,rt1,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_203.0.113.0/24\",\"source-tp\":\"sw1_Ethernet2\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt1,ge-0/0/0.0,Seg_203.0.113.0/24,sw1_Ethernet2\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_203.0.113.0/24\",\"dest-tp\":\"sw1_Ethernet2\"}},{\"link-id\":\"Seg_203.0.113.0/24,sw1_Ethernet1,serv1,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_203.0.113.0/24\",\"source-tp\":\"sw1_Ethernet1\"},\"destination\":{\"dest-node\":\"serv1\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"serv1,ge-0/0/0.0,Seg_203.0.113.0/24,sw1_Ethernet1\",\"source\":{\"source-node\":\"serv1\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_203.0.113.0/24\",\"dest-tp\":\"sw1_Ethernet1\"}},{\"link-id\":\"Seg_10.0.0.0/30,rt2_ge-0/0/0.0,rt1,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.0.0.0/30\",\"source-tp\":\"rt2_ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt1,ge-0/0/1.0,Seg_10.0.0.0/30,rt2_ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.0.0/30\",\"dest-tp\":\"rt2_ge-0/0/0.0\"}},{\"link-id\":\"Seg_10.0.0.0/30,rt1_ge-0/0/1.0,rt2,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.0.0.0/30\",\"source-tp\":\"rt1_ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt2,ge-0/0/0.0,Seg_10.0.0.0/30,rt1_ge-0/0/1.0\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.0.0/30\",\"dest-tp\":\"rt1_ge-0/0/1.0\"}},{\"link-id\":\"Seg_10.0.1.0/30,rt3_ge-0/0/0.0,rt1,ge-0/0/2.0\",\"source\":{\"source-node\":\"Seg_10.0.1.0/30\",\"source-tp\":\"rt3_ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/2.0\"}},{\"link-id\":\"rt1,ge-0/0/2.0,Seg_10.0.1.0/30,rt3_ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/2.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.1.0/30\",\"dest-tp\":\"rt3_ge-0/0/0.0\"}},{\"link-id\":\"Seg_10.0.1.0/30,rt1_ge-0/0/2.0,rt3,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.0.1.0/30\",\"source-tp\":\"rt1_ge-0/0/2.0\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt3,ge-0/0/0.0,Seg_10.0.1.0/30,rt1_ge-0/0/2.0\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.1.0/30\",\"dest-tp\":\"rt1_ge-0/0/2.0\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet2,rt3,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet2\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt3,ge-0/0/1.0,Seg_10.1.0.0/24,sw2_Ethernet2\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet2\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet1,rt2,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet1\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt2,ge-0/0/1.0,Seg_10.1.0.0/24,sw2_Ethernet1\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet1\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet3,rt4,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet3\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt4,ge-0/0/0.0,Seg_10.1.0.0/24,sw2_Ethernet3\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet3\"}},{\"link-id\":\"Seg_192.168.0.0/24,sw3_Ethernet1,rt4,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_192.168.0.0/24\",\"source-tp\":\"sw3_Ethernet1\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt4,ge-0/0/1.0,Seg_192.168.0.0/24,sw3_Ethernet1\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_192.168.0.0/24\",\"dest-tp\":\"sw3_Ethernet1\"}},{\"link-id\":\"Seg_192.168.0.0/24,sw3_Ethernet2,serv2,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_192.168.0.0/24\",\"source-tp\":\"sw3_Ethernet2\"},\"destination\":{\"dest-node\":\"serv2\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"serv2,ge-0/0/0.0,Seg_192.168.0.0/24,sw3_Ethernet2\",\"source\":{\"source-node\":\"serv2\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_192.168.0.0/24\",\"dest-tp\":\"sw3_Ethernet2\"}}],\"supporting-network\":[{\"network-ref\":\"layer2\"}]},{\"network-id\":\"layer2\",\"network-types\":{\"mddo-topology:l2-network\":{}},\"node\":[{\"node-id\":\"rt1_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet2\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt1\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"sw1_Vlan1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw1\",\"tp-ref\":\"Ethernet2\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}},{\"tp-id\":\"Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw1\",\"tp-ref\":\"Ethernet1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SERV1_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw1\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"sw1\",\"vlan-id\":1,\"flag\":[]}},{\"node-id\":\"rt1_ge-0/0/1.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\",\"tp-ref\":\"ge-0/0/1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT2_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt1\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt2_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt2\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/1\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt2\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt2\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt1_ge-0/0/2.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/2.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\",\"tp-ref\":\"ge-0/0/2\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT3_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt1\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt3_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt3\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/2\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt3\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt3\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt3_ge-0/0/1.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt3\",\"tp-ref\":\"ge-0/0/1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet2\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt3\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt3\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"sw2_Vlan1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw2\",\"tp-ref\":\"Ethernet2\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT3_ge-0/0/1\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}},{\"tp-id\":\"Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw2\",\"tp-ref\":\"Ethernet1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT2_ge-0/0/1\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}},{\"tp-id\":\"Ethernet3\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw2\",\"tp-ref\":\"Ethernet3\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT4_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw2\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"sw2\",\"vlan-id\":1,\"flag\":[]}},{\"node-id\":\"rt2_ge-0/0/1.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt2\",\"tp-ref\":\"ge-0/0/1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet1\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt2\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt2\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt4_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt4\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet3\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt4\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt4\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt4_ge-0/0/1.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt4\",\"tp-ref\":\"ge-0/0/1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet1\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt4\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt4\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"sw3_Vlan1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw3\",\"tp-ref\":\"Ethernet1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT4_ge-0/0/1\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}},{\"tp-id\":\"Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw3\",\"tp-ref\":\"Ethernet2\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SERV2_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw3\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"sw3\",\"vlan-id\":1,\"flag\":[]}},{\"node-id\":\"serv2_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"serv2\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet2\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"serv2\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"serv2\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"serv1_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"serv1\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet1\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"serv1\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"serv1\",\"vlan-id\":0,\"flag\":[]}}],\"ietf-network-topology:link\":[{\"link-id\":\"rt1_ge-0/0/0.0,ge-0/0/0.0,sw1_Vlan1,Ethernet2\",\"source\":{\"source-node\":\"rt1_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"sw1_Vlan1\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw1_Vlan1,Ethernet2,rt1_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"sw1_Vlan1\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"rt1_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt1_ge-0/0/1.0,ge-0/0/1.0,rt2_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1_ge-0/0/1.0\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"rt2_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt2_ge-0/0/0.0,ge-0/0/0.0,rt1_ge-0/0/1.0,ge-0/0/1.0\",\"source\":{\"source-node\":\"rt2_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1_ge-0/0/1.0\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt1_ge-0/0/2.0,ge-0/0/2.0,rt3_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1_ge-0/0/2.0\",\"source-tp\":\"ge-0/0/2.0\"},\"destination\":{\"dest-node\":\"rt3_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt3_ge-0/0/0.0,ge-0/0/0.0,rt1_ge-0/0/2.0,ge-0/0/2.0\",\"source\":{\"source-node\":\"rt3_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1_ge-0/0/2.0\",\"dest-tp\":\"ge-0/0/2.0\"}},{\"link-id\":\"rt3_ge-0/0/1.0,ge-0/0/1.0,sw2_Vlan1,Ethernet2\",\"source\":{\"source-node\":\"rt3_ge-0/0/1.0\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"sw2_Vlan1\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw2_Vlan1,Ethernet2,rt3_ge-0/0/1.0,ge-0/0/1.0\",\"source\":{\"source-node\":\"sw2_Vlan1\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"rt3_ge-0/0/1.0\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"sw2_Vlan1,Ethernet1,rt2_ge-0/0/1.0,ge-0/0/1.0\",\"source\":{\"source-node\":\"sw2_Vlan1\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"rt2_ge-0/0/1.0\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt2_ge-0/0/1.0,ge-0/0/1.0,sw2_Vlan1,Ethernet1\",\"source\":{\"source-node\":\"rt2_ge-0/0/1.0\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"sw2_Vlan1\",\"dest-tp\":\"Ethernet1\"}},{\"link-id\":\"sw2_Vlan1,Ethernet3,rt4_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"sw2_Vlan1\",\"source-tp\":\"Ethernet3\"},\"destination\":{\"dest-node\":\"rt4_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt4_ge-0/0/0.0,ge-0/0/0.0,sw2_Vlan1,Ethernet3\",\"source\":{\"source-node\":\"rt4_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"sw2_Vlan1\",\"dest-tp\":\"Ethernet3\"}},{\"link-id\":\"rt4_ge-0/0/1.0,ge-0/0/1.0,sw3_Vlan1,Ethernet1\",\"source\":{\"source-node\":\"rt4_ge-0/0/1.0\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"sw3_Vlan1\",\"dest-tp\":\"Ethernet1\"}},{\"link-id\":\"sw3_Vlan1,Ethernet1,rt4_ge-0/0/1.0,ge-0/0/1.0\",\"source\":{\"source-node\":\"sw3_Vlan1\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"rt4_ge-0/0/1.0\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"sw3_Vlan1,Ethernet2,serv2_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"sw3_Vlan1\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"serv2_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"serv2_ge-0/0/0.0,ge-0/0/0.0,sw3_Vlan1,Ethernet2\",\"source\":{\"source-node\":\"serv2_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"sw3_Vlan1\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw1_Vlan1,Ethernet1,serv1_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"sw1_Vlan1\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"serv1_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"serv1_ge-0/0/0.0,ge-0/0/0.0,sw1_Vlan1,Ethernet1\",\"source\":{\"source-node\":\"serv1_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"sw1_Vlan1\",\"dest-tp\":\"Ethernet1\"}}],\"supporting-network\":[{\"network-ref\":\"layer1\"}]},{\"network-id\":\"layer1\",\"network-types\":{\"mddo-topology:l1-network\":{}},\"node\":[{\"node-id\":\"rt1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet2\",\"flag\":[]}},{\"tp-id\":\"ge-0/0/1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT2_ge-0/0/0\",\"flag\":[]}},{\"tp-id\":\"ge-0/0/2\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT3_ge-0/0/0\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}},{\"node-id\":\"sw1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet2\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/0\",\"flag\":[]}},{\"tp-id\":\"Ethernet1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SERV1_ge-0/0/0\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"arista\",\"flag\":[]}},{\"node-id\":\"rt2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/1\",\"flag\":[]}},{\"tp-id\":\"ge-0/0/1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet1\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}},{\"node-id\":\"rt3\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/2\",\"flag\":[]}},{\"tp-id\":\"ge-0/0/1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet2\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}},{\"node-id\":\"sw2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet2\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT3_ge-0/0/1\",\"flag\":[]}},{\"tp-id\":\"Ethernet1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT2_ge-0/0/1\",\"flag\":[]}},{\"tp-id\":\"Ethernet3\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT4_ge-0/0/0\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"arista\",\"flag\":[]}},{\"node-id\":\"rt4\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet3\",\"flag\":[]}},{\"tp-id\":\"ge-0/0/1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet1\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}},{\"node-id\":\"sw3\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT4_ge-0/0/1\",\"flag\":[]}},{\"tp-id\":\"Ethernet2\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SERV2_ge-0/0/0\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"arista\",\"flag\":[]}},{\"node-id\":\"serv2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet2\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}},{\"node-id\":\"serv1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet1\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}}],\"ietf-network-topology:link\":[{\"link-id\":\"rt1,ge-0/0/0,sw1,Ethernet2\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"sw1\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw1,Ethernet2,rt1,ge-0/0/0\",\"source\":{\"source-node\":\"sw1\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"rt1,ge-0/0/1,rt2,ge-0/0/0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/1\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"rt2,ge-0/0/0,rt1,ge-0/0/1\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/1\"}},{\"link-id\":\"rt1,ge-0/0/2,rt3,ge-0/0/0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/2\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"rt3,ge-0/0/0,rt1,ge-0/0/2\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/2\"}},{\"link-id\":\"rt3,ge-0/0/1,sw2,Ethernet2\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/1\"},\"destination\":{\"dest-node\":\"sw2\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw2,Ethernet2,rt3,ge-0/0/1\",\"source\":{\"source-node\":\"sw2\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/1\"}},{\"link-id\":\"sw2,Ethernet1,rt2,ge-0/0/1\",\"source\":{\"source-node\":\"sw2\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/1\"}},{\"link-id\":\"rt2,ge-0/0/1,sw2,Ethernet1\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/1\"},\"destination\":{\"dest-node\":\"sw2\",\"dest-tp\":\"Ethernet1\"}},{\"link-id\":\"sw2,Ethernet3,rt4,ge-0/0/0\",\"source\":{\"source-node\":\"sw2\",\"source-tp\":\"Ethernet3\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"rt4,ge-0/0/0,sw2,Ethernet3\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"sw2\",\"dest-tp\":\"Ethernet3\"}},{\"link-id\":\"rt4,ge-0/0/1,sw3,Ethernet1\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/1\"},\"destination\":{\"dest-node\":\"sw3\",\"dest-tp\":\"Ethernet1\"}},{\"link-id\":\"sw3,Ethernet1,rt4,ge-0/0/1\",\"source\":{\"source-node\":\"sw3\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/1\"}},{\"link-id\":\"sw3,Ethernet2,serv2,ge-0/0/0\",\"source\":{\"source-node\":\"sw3\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"serv2\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"serv2,ge-0/0/0,sw3,Ethernet2\",\"source\":{\"source-node\":\"serv2\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"sw3\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw1,Ethernet1,serv1,ge-0/0/0\",\"source\":{\"source-node\":\"sw1\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"serv1\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"serv1,ge-0/0/0,sw1,Ethernet1\",\"source\":{\"source-node\":\"serv1\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"sw1\",\"dest-tp\":\"Ethernet1\"}}]}]}}",
        "payloadType": "json",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "ceaf64da282e4b4d"
            ]
        ]
    },
    {
        "id": "3fedaf92f4edf44a",
        "type": "http in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "url": "/ospf_iflist/:area",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "e023ac19ef647e40"
            ]
        ]
    },
    {
        "id": "6d2b7d4489774df7",
        "type": "function",
        "z": "1298b4fe103a59c1",
        "name": "ospf_parse",
        "func": "var temp = msg[\"payload\"][\"ietf-network:networks\"][\"network\"];\nvar area = msg.req.params.area\nvar dict = {};\nvar array = [];\nfor (const ospfdict of temp){\n    var ospfarea = \"ospf\"\n    if (ospfdict[\"network-id\"] == ospfarea.concat('_', area)) {\n        for (const item of ospfdict[\"node\"]) {\n            if (item[\"mddo-topology:ospf-area-node-attributes\"][\"node-type\"] == \"ospf_proc\") {\n                var tpid = [];\n                for (const item2 of item[\"ietf-network-topology:termination-point\"] ) {\n                    tpid.push(item2[\"tp-id\"]);\n                }\n                dict = { \"node\": item[\"node-id\"], \"iflist\": tpid, \"attributes\": item[\"mddo-topology:ospf-area-node-attributes\"] }\n                array.push(dict)\n\n            }\n        }\n    }\n}\n\nmsg.payload = array;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 220,
        "wires": [
            [
                "da715f9bdd546276",
                "98d4fe11fefcdde5"
            ]
        ]
    },
    {
        "id": "ceaf64da282e4b4d",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "dbd2c5a23603e34e"
            ]
        ]
    },
    {
        "id": "dbd2c5a23603e34e",
        "type": "file",
        "z": "1298b4fe103a59c1",
        "name": "ospffile",
        "filename": "/tmp/ospf.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "6d2b7d4489774df7"
            ]
        ]
    },
    {
        "id": "e023ac19ef647e40",
        "type": "file in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "filename": "/tmp/ospf.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "d62105377555ef01"
            ]
        ]
    },
    {
        "id": "d62105377555ef01",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "6d2b7d4489774df7"
            ]
        ]
    },
    {
        "id": "ede5b390c62ea0d1",
        "type": "inject",
        "z": "1298b4fe103a59c1",
        "name": "layer3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "req",
                "v": "{\"params\":{\"layer\": \"layer3\"} }",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ietf-network:networks\":{\"network\":[{\"network-id\":\"ospf_area0\",\"network-types\":{\"mddo-topology:ospf-area-network\":{}},\"node\":[{\"node-id\":\"Seg_10.0.0.0/30\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"rt2_ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.0.0/30\",\"tp-ref\":\"rt2_ge-0/0/0.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}},{\"tp-id\":\"rt1_ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.0.0/30\",\"tp-ref\":\"rt1_ge-0/0/1.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.0.0/30\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"segment\",\"router-id\":\"\",\"router-id-source\":\"auto\",\"log-adjacency-change\":false,\"redistribute\":[]}},{\"node-id\":\"rt1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt1\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.2\",\"ip-address\":\"10.0.0.2/30\"}]}},{\"tp-id\":\"ge-0/0/2.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt1\",\"tp-ref\":\"ge-0/0/2.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.3\",\"ip-address\":\"10.0.1.2/30\"}]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt1\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"ospf_proc\",\"router-id\":\"172.16.0.1\",\"router-id-source\":\"static\",\"log-adjacency-change\":false,\"redistribute\":[{\"protocol\":\"connected\",\"metric-type\":2},{\"protocol\":\"static\",\"metric-type\":2}]}},{\"node-id\":\"rt2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt2\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":2,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.1\",\"ip-address\":\"10.0.0.1/30\"}]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt2\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.3\",\"ip-address\":\"10.1.0.2/24\"},{\"router-id\":\"172.16.0.4\",\"ip-address\":\"10.1.0.3/24\"}]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt2\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"ospf_proc\",\"router-id\":\"172.16.0.2\",\"router-id-source\":\"static\",\"log-adjacency-change\":false,\"redistribute\":[{\"protocol\":\"connected\",\"metric-type\":2}]}},{\"node-id\":\"Seg_10.0.1.0/30\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"rt3_ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.1.0/30\",\"tp-ref\":\"rt3_ge-0/0/0.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}},{\"tp-id\":\"rt1_ge-0/0/2.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.1.0/30\",\"tp-ref\":\"rt1_ge-0/0/2.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.0.1.0/30\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"segment\",\"router-id\":\"\",\"router-id-source\":\"auto\",\"log-adjacency-change\":false,\"redistribute\":[]}},{\"node-id\":\"rt3\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt3\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":3,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.1\",\"ip-address\":\"10.0.1.1/30\"}]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt3\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.2\",\"ip-address\":\"10.1.0.1/24\"},{\"router-id\":\"172.16.0.4\",\"ip-address\":\"10.1.0.3/24\"}]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt3\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"ospf_proc\",\"router-id\":\"172.16.0.3\",\"router-id-source\":\"static\",\"log-adjacency-change\":false,\"redistribute\":[{\"protocol\":\"connected\",\"metric-type\":2}]}},{\"node-id\":\"Seg_10.1.0.0/24\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"sw2_Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.1.0.0/24\",\"tp-ref\":\"sw2_Ethernet2\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}},{\"tp-id\":\"sw2_Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.1.0.0/24\",\"tp-ref\":\"sw2_Ethernet1\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}},{\"tp-id\":\"sw2_Ethernet3\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.1.0.0/24\",\"tp-ref\":\"sw2_Ethernet3\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_10.1.0.0/24\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"segment\",\"router-id\":\"\",\"router-id-source\":\"auto\",\"log-adjacency-change\":false,\"redistribute\":[]}},{\"node-id\":\"rt4\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt4\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[{\"router-id\":\"172.16.0.3\",\"ip-address\":\"10.1.0.2/24\"},{\"router-id\":\"172.16.0.2\",\"ip-address\":\"10.1.0.1/24\"}]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt4\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"BROADCAST\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"rt4\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"ospf_proc\",\"router-id\":\"172.16.0.4\",\"router-id-source\":\"static\",\"log-adjacency-change\":false,\"redistribute\":[{\"protocol\":\"connected\",\"metric-type\":2}]}},{\"node-id\":\"Seg_192.168.0.0/24\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"sw3_Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_192.168.0.0/24\",\"tp-ref\":\"sw3_Ethernet1\"}],\"mddo-topology:ospf-area-termination-point-attributes\":{\"network-type\":\"\",\"priority\":10,\"metric\":1,\"passive\":false,\"timer\":{\"hello-interval\":10,\"dead-interval\":40,\"retransmission-interval\":5},\"neighbor\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer3\",\"node-ref\":\"Seg_192.168.0.0/24\"}],\"mddo-topology:ospf-area-node-attributes\":{\"node-type\":\"segment\",\"router-id\":\"\",\"router-id-source\":\"auto\",\"log-adjacency-change\":false,\"redistribute\":[]}}],\"ietf-network-topology:link\":[{\"link-id\":\"Seg_10.0.0.0/30,rt2_ge-0/0/0.0,rt1,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.0.0.0/30\",\"source-tp\":\"rt2_ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt1,ge-0/0/1.0,Seg_10.0.0.0/30,rt2_ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.0.0/30\",\"dest-tp\":\"rt2_ge-0/0/0.0\"}},{\"link-id\":\"Seg_10.0.0.0/30,rt1_ge-0/0/1.0,rt2,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.0.0.0/30\",\"source-tp\":\"rt1_ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt2,ge-0/0/0.0,Seg_10.0.0.0/30,rt1_ge-0/0/1.0\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.0.0/30\",\"dest-tp\":\"rt1_ge-0/0/1.0\"}},{\"link-id\":\"Seg_10.0.1.0/30,rt3_ge-0/0/0.0,rt1,ge-0/0/2.0\",\"source\":{\"source-node\":\"Seg_10.0.1.0/30\",\"source-tp\":\"rt3_ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/2.0\"}},{\"link-id\":\"rt1,ge-0/0/2.0,Seg_10.0.1.0/30,rt3_ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/2.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.1.0/30\",\"dest-tp\":\"rt3_ge-0/0/0.0\"}},{\"link-id\":\"Seg_10.0.1.0/30,rt1_ge-0/0/2.0,rt3,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.0.1.0/30\",\"source-tp\":\"rt1_ge-0/0/2.0\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt3,ge-0/0/0.0,Seg_10.0.1.0/30,rt1_ge-0/0/2.0\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.1.0/30\",\"dest-tp\":\"rt1_ge-0/0/2.0\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet2,rt3,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet2\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt3,ge-0/0/1.0,Seg_10.1.0.0/24,sw2_Ethernet2\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet2\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet1,rt2,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet1\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt2,ge-0/0/1.0,Seg_10.1.0.0/24,sw2_Ethernet1\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet1\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet3,rt4,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet3\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt4,ge-0/0/0.0,Seg_10.1.0.0/24,sw2_Ethernet3\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet3\"}},{\"link-id\":\"Seg_192.168.0.0/24,sw3_Ethernet1,rt4,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_192.168.0.0/24\",\"source-tp\":\"sw3_Ethernet1\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt4,ge-0/0/1.0,Seg_192.168.0.0/24,sw3_Ethernet1\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_192.168.0.0/24\",\"dest-tp\":\"sw3_Ethernet1\"}}],\"supporting-network\":[{\"network-ref\":\"layer3\"}],\"mddo-topology:ospf-area-network-attributes\":{\"name\":\"\",\"identifier\":\"0.0.0.0\",\"flag\":[]}},{\"network-id\":\"layer3\",\"network-types\":{\"mddo-topology:l3-network\":{}},\"node\":[{\"node-id\":\"Seg_203.0.113.0/24\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"sw1_Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw1_Vlan1\",\"tp-ref\":\"Ethernet2\"}]},{\"tp-id\":\"sw1_Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw1_Vlan1\",\"tp-ref\":\"Ethernet1\"}]}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/0.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"sw1_Vlan1\"},{\"network-ref\":\"layer2\",\"node-ref\":\"serv1_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"segment\",\"prefix\":[{\"prefix\":\"203.0.113.0/24\",\"metric\":0,\"flag\":[]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"rt1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet2\",\"ip-address\":[\"203.0.113.1/24\"],\"flag\":[]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/1.0\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_RT2_ge-0/0/0\",\"ip-address\":[\"10.0.0.1/30\"],\"flag\":[]}},{\"tp-id\":\"ge-0/0/2.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/2.0\",\"tp-ref\":\"ge-0/0/2.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_RT3_ge-0/0/0\",\"ip-address\":[\"10.0.1.1/30\"],\"flag\":[]}},{\"tp-id\":\"lo0.0\",\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"\",\"ip-address\":[\"172.16.0.1/32\"],\"flag\":[\"loopback\"]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/0.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/1.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/2.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"203.0.113.0/24\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"10.0.0.0/30\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"10.0.1.0/30\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"172.16.0.1/32\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"serv1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"serv1_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet1\",\"ip-address\":[\"203.0.113.2/24\"],\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"serv1_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"203.0.113.0/24\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[{\"prefix\":\"0.0.0.0/0\",\"next-hop\":\"203.0.113.1\",\"interface\":\"dynamic\",\"metric\":0,\"preference\":5,\"description\":\"\"}],\"flag\":[]}},{\"node-id\":\"Seg_10.0.0.0/30\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"rt2_ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}]},{\"tp-id\":\"rt1_ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/1.0\",\"tp-ref\":\"ge-0/0/1.0\"}]}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/1.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"segment\",\"prefix\":[{\"prefix\":\"10.0.0.0/30\",\"metric\":0,\"flag\":[]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"rt2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/1\",\"ip-address\":[\"10.0.0.2/30\"],\"flag\":[]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/1.0\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet1\",\"ip-address\":[\"10.1.0.1/24\"],\"flag\":[]}},{\"tp-id\":\"lo0.0\",\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"\",\"ip-address\":[\"172.16.0.2/32\"],\"flag\":[\"loopback\"]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/0.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/1.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"10.0.0.0/30\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"10.1.0.0/24\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"172.16.0.2/32\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"Seg_10.0.1.0/30\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"rt3_ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}]},{\"tp-id\":\"rt1_ge-0/0/2.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/2.0\",\"tp-ref\":\"ge-0/0/2.0\"}]}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt1_ge-0/0/2.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"segment\",\"prefix\":[{\"prefix\":\"10.0.1.0/30\",\"metric\":0,\"flag\":[]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"rt3\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/2\",\"ip-address\":[\"10.0.1.2/30\"],\"flag\":[]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/1.0\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet2\",\"ip-address\":[\"10.1.0.2/24\"],\"flag\":[]}},{\"tp-id\":\"lo0.0\",\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"\",\"ip-address\":[\"172.16.0.3/32\"],\"flag\":[\"loopback\"]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/0.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/1.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"10.0.1.0/30\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"10.1.0.0/24\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"172.16.0.3/32\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"Seg_10.1.0.0/24\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"sw2_Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw2_Vlan1\",\"tp-ref\":\"Ethernet2\"}]},{\"tp-id\":\"sw2_Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw2_Vlan1\",\"tp-ref\":\"Ethernet1\"}]},{\"tp-id\":\"sw2_Ethernet3\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw2_Vlan1\",\"tp-ref\":\"Ethernet3\"}]}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt3_ge-0/0/1.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"sw2_Vlan1\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt2_ge-0/0/1.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"segment\",\"prefix\":[{\"prefix\":\"10.1.0.0/24\",\"metric\":0,\"flag\":[]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"rt4\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet3\",\"ip-address\":[\"10.1.0.3/24\"],\"flag\":[]}},{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/1.0\",\"tp-ref\":\"ge-0/0/1.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet1\",\"ip-address\":[\"192.168.0.1/24\"],\"flag\":[]}},{\"tp-id\":\"lo0.0\",\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"\",\"ip-address\":[\"172.16.0.4/32\"],\"flag\":[\"loopback\"]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/0.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/1.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"10.1.0.0/24\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"192.168.0.0/24\",\"metric\":0,\"flag\":[\"connected\"]},{\"prefix\":\"172.16.0.4/32\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"Seg_192.168.0.0/24\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"sw3_Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw3_Vlan1\",\"tp-ref\":\"Ethernet1\"}]},{\"tp-id\":\"sw3_Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"sw3_Vlan1\",\"tp-ref\":\"Ethernet2\"}]}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"rt4_ge-0/0/1.0\"},{\"network-ref\":\"layer2\",\"node-ref\":\"sw3_Vlan1\"},{\"network-ref\":\"layer2\",\"node-ref\":\"serv2_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"segment\",\"prefix\":[{\"prefix\":\"192.168.0.0/24\",\"metric\":0,\"flag\":[]}],\"static-route\":[],\"flag\":[]}},{\"node-id\":\"serv2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer2\",\"node-ref\":\"serv2_ge-0/0/0.0\",\"tp-ref\":\"ge-0/0/0.0\"}],\"mddo-topology:l3-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet2\",\"ip-address\":[\"192.168.0.2/24\"],\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer2\",\"node-ref\":\"serv2_ge-0/0/0.0\"}],\"mddo-topology:l3-node-attributes\":{\"node-type\":\"node\",\"prefix\":[{\"prefix\":\"192.168.0.0/24\",\"metric\":0,\"flag\":[\"connected\"]}],\"static-route\":[{\"prefix\":\"0.0.0.0/0\",\"next-hop\":\"192.168.0.1\",\"interface\":\"dynamic\",\"metric\":0,\"preference\":5,\"description\":\"\"}],\"flag\":[]}}],\"ietf-network-topology:link\":[{\"link-id\":\"Seg_203.0.113.0/24,sw1_Ethernet2,rt1,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_203.0.113.0/24\",\"source-tp\":\"sw1_Ethernet2\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt1,ge-0/0/0.0,Seg_203.0.113.0/24,sw1_Ethernet2\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_203.0.113.0/24\",\"dest-tp\":\"sw1_Ethernet2\"}},{\"link-id\":\"Seg_203.0.113.0/24,sw1_Ethernet1,serv1,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_203.0.113.0/24\",\"source-tp\":\"sw1_Ethernet1\"},\"destination\":{\"dest-node\":\"serv1\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"serv1,ge-0/0/0.0,Seg_203.0.113.0/24,sw1_Ethernet1\",\"source\":{\"source-node\":\"serv1\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_203.0.113.0/24\",\"dest-tp\":\"sw1_Ethernet1\"}},{\"link-id\":\"Seg_10.0.0.0/30,rt2_ge-0/0/0.0,rt1,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.0.0.0/30\",\"source-tp\":\"rt2_ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt1,ge-0/0/1.0,Seg_10.0.0.0/30,rt2_ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.0.0/30\",\"dest-tp\":\"rt2_ge-0/0/0.0\"}},{\"link-id\":\"Seg_10.0.0.0/30,rt1_ge-0/0/1.0,rt2,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.0.0.0/30\",\"source-tp\":\"rt1_ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt2,ge-0/0/0.0,Seg_10.0.0.0/30,rt1_ge-0/0/1.0\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.0.0/30\",\"dest-tp\":\"rt1_ge-0/0/1.0\"}},{\"link-id\":\"Seg_10.0.1.0/30,rt3_ge-0/0/0.0,rt1,ge-0/0/2.0\",\"source\":{\"source-node\":\"Seg_10.0.1.0/30\",\"source-tp\":\"rt3_ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/2.0\"}},{\"link-id\":\"rt1,ge-0/0/2.0,Seg_10.0.1.0/30,rt3_ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/2.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.1.0/30\",\"dest-tp\":\"rt3_ge-0/0/0.0\"}},{\"link-id\":\"Seg_10.0.1.0/30,rt1_ge-0/0/2.0,rt3,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.0.1.0/30\",\"source-tp\":\"rt1_ge-0/0/2.0\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt3,ge-0/0/0.0,Seg_10.0.1.0/30,rt1_ge-0/0/2.0\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.0.1.0/30\",\"dest-tp\":\"rt1_ge-0/0/2.0\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet2,rt3,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet2\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt3,ge-0/0/1.0,Seg_10.1.0.0/24,sw2_Ethernet2\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet2\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet1,rt2,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet1\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt2,ge-0/0/1.0,Seg_10.1.0.0/24,sw2_Ethernet1\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet1\"}},{\"link-id\":\"Seg_10.1.0.0/24,sw2_Ethernet3,rt4,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_10.1.0.0/24\",\"source-tp\":\"sw2_Ethernet3\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt4,ge-0/0/0.0,Seg_10.1.0.0/24,sw2_Ethernet3\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_10.1.0.0/24\",\"dest-tp\":\"sw2_Ethernet3\"}},{\"link-id\":\"Seg_192.168.0.0/24,sw3_Ethernet1,rt4,ge-0/0/1.0\",\"source\":{\"source-node\":\"Seg_192.168.0.0/24\",\"source-tp\":\"sw3_Ethernet1\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt4,ge-0/0/1.0,Seg_192.168.0.0/24,sw3_Ethernet1\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"Seg_192.168.0.0/24\",\"dest-tp\":\"sw3_Ethernet1\"}},{\"link-id\":\"Seg_192.168.0.0/24,sw3_Ethernet2,serv2,ge-0/0/0.0\",\"source\":{\"source-node\":\"Seg_192.168.0.0/24\",\"source-tp\":\"sw3_Ethernet2\"},\"destination\":{\"dest-node\":\"serv2\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"serv2,ge-0/0/0.0,Seg_192.168.0.0/24,sw3_Ethernet2\",\"source\":{\"source-node\":\"serv2\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"Seg_192.168.0.0/24\",\"dest-tp\":\"sw3_Ethernet2\"}}],\"supporting-network\":[{\"network-ref\":\"layer2\"}]},{\"network-id\":\"layer2\",\"network-types\":{\"mddo-topology:l2-network\":{}},\"node\":[{\"node-id\":\"rt1_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet2\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt1\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"sw1_Vlan1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw1\",\"tp-ref\":\"Ethernet2\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}},{\"tp-id\":\"Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw1\",\"tp-ref\":\"Ethernet1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SERV1_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw1\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"sw1\",\"vlan-id\":1,\"flag\":[]}},{\"node-id\":\"rt1_ge-0/0/1.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\",\"tp-ref\":\"ge-0/0/1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT2_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt1\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt2_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt2\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/1\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt2\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt2\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt1_ge-0/0/2.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/2.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\",\"tp-ref\":\"ge-0/0/2\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT3_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt1\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt1\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt3_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt3\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/2\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt3\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt3\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt3_ge-0/0/1.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt3\",\"tp-ref\":\"ge-0/0/1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet2\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt3\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt3\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"sw2_Vlan1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw2\",\"tp-ref\":\"Ethernet2\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT3_ge-0/0/1\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}},{\"tp-id\":\"Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw2\",\"tp-ref\":\"Ethernet1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT2_ge-0/0/1\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}},{\"tp-id\":\"Ethernet3\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw2\",\"tp-ref\":\"Ethernet3\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT4_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw2\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"sw2\",\"vlan-id\":1,\"flag\":[]}},{\"node-id\":\"rt2_ge-0/0/1.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt2\",\"tp-ref\":\"ge-0/0/1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet1\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt2\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt2\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt4_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt4\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet3\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt4\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt4\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"rt4_ge-0/0/1.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/1.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt4\",\"tp-ref\":\"ge-0/0/1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet1\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"rt4\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"rt4\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"sw3_Vlan1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet1\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw3\",\"tp-ref\":\"Ethernet1\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_RT4_ge-0/0/1\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}},{\"tp-id\":\"Ethernet2\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw3\",\"tp-ref\":\"Ethernet2\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SERV2_ge-0/0/0\",\"encapsulation\":\"\",\"switchport-mode\":\"access\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"sw3\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"sw3\",\"vlan-id\":1,\"flag\":[]}},{\"node-id\":\"serv2_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"serv2\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet2\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"serv2\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"serv2\",\"vlan-id\":0,\"flag\":[]}},{\"node-id\":\"serv1_ge-0/0/0.0\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0.0\",\"supporting-termination-point\":[{\"network-ref\":\"layer1\",\"node-ref\":\"serv1\",\"tp-ref\":\"ge-0/0/0\"}],\"mddo-topology:l2-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet1\",\"encapsulation\":\"\",\"switchport-mode\":\"none\",\"flag\":[]}}],\"supporting-node\":[{\"network-ref\":\"layer1\",\"node-ref\":\"serv1\"}],\"mddo-topology:l2-node-attributes\":{\"name\":\"serv1\",\"vlan-id\":0,\"flag\":[]}}],\"ietf-network-topology:link\":[{\"link-id\":\"rt1_ge-0/0/0.0,ge-0/0/0.0,sw1_Vlan1,Ethernet2\",\"source\":{\"source-node\":\"rt1_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"sw1_Vlan1\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw1_Vlan1,Ethernet2,rt1_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"sw1_Vlan1\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"rt1_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt1_ge-0/0/1.0,ge-0/0/1.0,rt2_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1_ge-0/0/1.0\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"rt2_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt2_ge-0/0/0.0,ge-0/0/0.0,rt1_ge-0/0/1.0,ge-0/0/1.0\",\"source\":{\"source-node\":\"rt2_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1_ge-0/0/1.0\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt1_ge-0/0/2.0,ge-0/0/2.0,rt3_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"rt1_ge-0/0/2.0\",\"source-tp\":\"ge-0/0/2.0\"},\"destination\":{\"dest-node\":\"rt3_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt3_ge-0/0/0.0,ge-0/0/0.0,rt1_ge-0/0/2.0,ge-0/0/2.0\",\"source\":{\"source-node\":\"rt3_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"rt1_ge-0/0/2.0\",\"dest-tp\":\"ge-0/0/2.0\"}},{\"link-id\":\"rt3_ge-0/0/1.0,ge-0/0/1.0,sw2_Vlan1,Ethernet2\",\"source\":{\"source-node\":\"rt3_ge-0/0/1.0\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"sw2_Vlan1\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw2_Vlan1,Ethernet2,rt3_ge-0/0/1.0,ge-0/0/1.0\",\"source\":{\"source-node\":\"sw2_Vlan1\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"rt3_ge-0/0/1.0\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"sw2_Vlan1,Ethernet1,rt2_ge-0/0/1.0,ge-0/0/1.0\",\"source\":{\"source-node\":\"sw2_Vlan1\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"rt2_ge-0/0/1.0\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"rt2_ge-0/0/1.0,ge-0/0/1.0,sw2_Vlan1,Ethernet1\",\"source\":{\"source-node\":\"rt2_ge-0/0/1.0\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"sw2_Vlan1\",\"dest-tp\":\"Ethernet1\"}},{\"link-id\":\"sw2_Vlan1,Ethernet3,rt4_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"sw2_Vlan1\",\"source-tp\":\"Ethernet3\"},\"destination\":{\"dest-node\":\"rt4_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"rt4_ge-0/0/0.0,ge-0/0/0.0,sw2_Vlan1,Ethernet3\",\"source\":{\"source-node\":\"rt4_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"sw2_Vlan1\",\"dest-tp\":\"Ethernet3\"}},{\"link-id\":\"rt4_ge-0/0/1.0,ge-0/0/1.0,sw3_Vlan1,Ethernet1\",\"source\":{\"source-node\":\"rt4_ge-0/0/1.0\",\"source-tp\":\"ge-0/0/1.0\"},\"destination\":{\"dest-node\":\"sw3_Vlan1\",\"dest-tp\":\"Ethernet1\"}},{\"link-id\":\"sw3_Vlan1,Ethernet1,rt4_ge-0/0/1.0,ge-0/0/1.0\",\"source\":{\"source-node\":\"sw3_Vlan1\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"rt4_ge-0/0/1.0\",\"dest-tp\":\"ge-0/0/1.0\"}},{\"link-id\":\"sw3_Vlan1,Ethernet2,serv2_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"sw3_Vlan1\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"serv2_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"serv2_ge-0/0/0.0,ge-0/0/0.0,sw3_Vlan1,Ethernet2\",\"source\":{\"source-node\":\"serv2_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"sw3_Vlan1\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw1_Vlan1,Ethernet1,serv1_ge-0/0/0.0,ge-0/0/0.0\",\"source\":{\"source-node\":\"sw1_Vlan1\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"serv1_ge-0/0/0.0\",\"dest-tp\":\"ge-0/0/0.0\"}},{\"link-id\":\"serv1_ge-0/0/0.0,ge-0/0/0.0,sw1_Vlan1,Ethernet1\",\"source\":{\"source-node\":\"serv1_ge-0/0/0.0\",\"source-tp\":\"ge-0/0/0.0\"},\"destination\":{\"dest-node\":\"sw1_Vlan1\",\"dest-tp\":\"Ethernet1\"}}],\"supporting-network\":[{\"network-ref\":\"layer1\"}]},{\"network-id\":\"layer1\",\"network-types\":{\"mddo-topology:l1-network\":{}},\"node\":[{\"node-id\":\"rt1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet2\",\"flag\":[]}},{\"tp-id\":\"ge-0/0/1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT2_ge-0/0/0\",\"flag\":[]}},{\"tp-id\":\"ge-0/0/2\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT3_ge-0/0/0\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}},{\"node-id\":\"sw1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet2\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/0\",\"flag\":[]}},{\"tp-id\":\"Ethernet1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SERV1_ge-0/0/0\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"arista\",\"flag\":[]}},{\"node-id\":\"rt2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/1\",\"flag\":[]}},{\"tp-id\":\"ge-0/0/1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet1\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}},{\"node-id\":\"rt3\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT1_ge-0/0/2\",\"flag\":[]}},{\"tp-id\":\"ge-0/0/1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet2\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}},{\"node-id\":\"sw2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet2\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT3_ge-0/0/1\",\"flag\":[]}},{\"tp-id\":\"Ethernet1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT2_ge-0/0/1\",\"flag\":[]}},{\"tp-id\":\"Ethernet3\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT4_ge-0/0/0\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"arista\",\"flag\":[]}},{\"node-id\":\"rt4\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW2_Ethernet3\",\"flag\":[]}},{\"tp-id\":\"ge-0/0/1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet1\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}},{\"node-id\":\"sw3\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"Ethernet1\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_RT4_ge-0/0/1\",\"flag\":[]}},{\"tp-id\":\"Ethernet2\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SERV2_ge-0/0/0\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"arista\",\"flag\":[]}},{\"node-id\":\"serv2\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW3_Ethernet2\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}},{\"node-id\":\"serv1\",\"ietf-network-topology:termination-point\":[{\"tp-id\":\"ge-0/0/0\",\"mddo-topology:l1-termination-point-attributes\":{\"description\":\"to_SW1_Ethernet1\",\"flag\":[]}}],\"mddo-topology:l1-node-attributes\":{\"os-type\":\"juniper\",\"flag\":[]}}],\"ietf-network-topology:link\":[{\"link-id\":\"rt1,ge-0/0/0,sw1,Ethernet2\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"sw1\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw1,Ethernet2,rt1,ge-0/0/0\",\"source\":{\"source-node\":\"sw1\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"rt1,ge-0/0/1,rt2,ge-0/0/0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/1\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"rt2,ge-0/0/0,rt1,ge-0/0/1\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/1\"}},{\"link-id\":\"rt1,ge-0/0/2,rt3,ge-0/0/0\",\"source\":{\"source-node\":\"rt1\",\"source-tp\":\"ge-0/0/2\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"rt3,ge-0/0/0,rt1,ge-0/0/2\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"rt1\",\"dest-tp\":\"ge-0/0/2\"}},{\"link-id\":\"rt3,ge-0/0/1,sw2,Ethernet2\",\"source\":{\"source-node\":\"rt3\",\"source-tp\":\"ge-0/0/1\"},\"destination\":{\"dest-node\":\"sw2\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw2,Ethernet2,rt3,ge-0/0/1\",\"source\":{\"source-node\":\"sw2\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"rt3\",\"dest-tp\":\"ge-0/0/1\"}},{\"link-id\":\"sw2,Ethernet1,rt2,ge-0/0/1\",\"source\":{\"source-node\":\"sw2\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"rt2\",\"dest-tp\":\"ge-0/0/1\"}},{\"link-id\":\"rt2,ge-0/0/1,sw2,Ethernet1\",\"source\":{\"source-node\":\"rt2\",\"source-tp\":\"ge-0/0/1\"},\"destination\":{\"dest-node\":\"sw2\",\"dest-tp\":\"Ethernet1\"}},{\"link-id\":\"sw2,Ethernet3,rt4,ge-0/0/0\",\"source\":{\"source-node\":\"sw2\",\"source-tp\":\"Ethernet3\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"rt4,ge-0/0/0,sw2,Ethernet3\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"sw2\",\"dest-tp\":\"Ethernet3\"}},{\"link-id\":\"rt4,ge-0/0/1,sw3,Ethernet1\",\"source\":{\"source-node\":\"rt4\",\"source-tp\":\"ge-0/0/1\"},\"destination\":{\"dest-node\":\"sw3\",\"dest-tp\":\"Ethernet1\"}},{\"link-id\":\"sw3,Ethernet1,rt4,ge-0/0/1\",\"source\":{\"source-node\":\"sw3\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"rt4\",\"dest-tp\":\"ge-0/0/1\"}},{\"link-id\":\"sw3,Ethernet2,serv2,ge-0/0/0\",\"source\":{\"source-node\":\"sw3\",\"source-tp\":\"Ethernet2\"},\"destination\":{\"dest-node\":\"serv2\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"serv2,ge-0/0/0,sw3,Ethernet2\",\"source\":{\"source-node\":\"serv2\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"sw3\",\"dest-tp\":\"Ethernet2\"}},{\"link-id\":\"sw1,Ethernet1,serv1,ge-0/0/0\",\"source\":{\"source-node\":\"sw1\",\"source-tp\":\"Ethernet1\"},\"destination\":{\"dest-node\":\"serv1\",\"dest-tp\":\"ge-0/0/0\"}},{\"link-id\":\"serv1,ge-0/0/0,sw1,Ethernet1\",\"source\":{\"source-node\":\"serv1\",\"source-tp\":\"ge-0/0/0\"},\"destination\":{\"dest-node\":\"sw1\",\"dest-tp\":\"Ethernet1\"}}]}]}}",
        "payloadType": "json",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "a938321adfd080f0"
            ]
        ]
    },
    {
        "id": "43901a0078ba059e",
        "type": "file",
        "z": "1298b4fe103a59c1",
        "name": "",
        "filename": "/tmp/pushed_config.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 510,
        "y": 80,
        "wires": [
            [
                "13feff8e4915cc17"
            ]
        ]
    },
    {
        "id": "a938321adfd080f0",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "43901a0078ba059e"
            ]
        ]
    },
    {
        "id": "1f19e4481194d9a7",
        "type": "http in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "url": "convertif/:ifname",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "dccf65ab61be785f"
            ]
        ]
    },
    {
        "id": "dccf65ab61be785f",
        "type": "http request",
        "z": "1298b4fe103a59c1",
        "name": "request layer_iflist",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/layer_iflist/layer3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 390,
        "y": 520,
        "wires": [
            [
                "3f6372cf52ecb3fa"
            ]
        ]
    },
    {
        "id": "cf326f38384d9e4f",
        "type": "http response",
        "z": "1298b4fe103a59c1",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 990,
        "y": 520,
        "wires": []
    },
    {
        "id": "a6c4b5d46fab78bc",
        "type": "function",
        "z": "1298b4fe103a59c1",
        "name": "convertlist",
        "func": "var temp = msg[\"payload\"];\nvar array = [];\nfor (var tmpnode of temp) {\n  var array2 = []\n  for (let i = 0; i < tmpnode[\"iflist\"].length; i++) {\n    var convertlist = {};\n    var ifname;\n\n    ifname = msg.req.params.ifname;\n    convertlist[\"original\"] = tmpnode[\"iflist\"][i];\n    convertlist[\"clab\"] = ifname.concat('', i+1)\n    array2.push(convertlist)\n  }\n  array.push({ \"node\": { \"original\": tmpnode[\"node\"], \"clab\": tmpnode[\"node\"].replace(\"/\", \"-\").replace(\"_\", \"-\")   }, \"iflist\": array2 })\n}\nmsg.payload = array\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 520,
        "wires": [
            [
                "cf326f38384d9e4f",
                "27bffccc4143dcf8"
            ]
        ]
    },
    {
        "id": "27bffccc4143dcf8",
        "type": "debug",
        "z": "1298b4fe103a59c1",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 660,
        "wires": []
    },
    {
        "id": "3f6372cf52ecb3fa",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "a6c4b5d46fab78bc"
            ]
        ]
    },
    {
        "id": "086f527289a9136b",
        "type": "http in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "url": "/links/:layer",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "ccf355d99b7da903"
            ]
        ]
    },
    {
        "id": "31215317f079dc61",
        "type": "function",
        "z": "1298b4fe103a59c1",
        "name": "links_parse",
        "func": "var ietfnetwork = msg[\"payload\"][\"ietf-network:networks\"]\nfor (const item of ietfnetwork[\"network\"]) {\n    if (item[\"network-id\"] == msg.req.params.layer) {\n        var array = [];\n        var sort_array = [];\n        for (var targetnode of item[\"ietf-network-topology:link\"]) {\n            var dest = targetnode[\"destination\"][\"dest-node\"].concat(':', targetnode[\"destination\"][\"dest-tp\"]);\n            var source = targetnode[\"source\"][\"source-node\"].concat(':', targetnode[\"source\"][\"source-tp\"]);\n            var tmpstring = array.join(\",\")\n            if (!tmpstring.includes(dest) && !tmpstring.includes(source)) {\n                if (targetnode[\"destination\"][\"dest-node\"].includes(\"Seg\")) {\n                    var checkphrase = targetnode[\"destination\"][\"dest-tp\"].replace(\"_\", \":\")\n                    if (!tmpstring.includes(checkphrase)) {\n                        array.push([dest, source])\n                    }\n                } \n                else { array.push([dest, source]) }\n            }\n            msg.payload = array;\n        };\n    }\n    //msg.payload = ietfnetwork;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 580,
        "wires": [
            [
                "cf326f38384d9e4f",
                "27bffccc4143dcf8"
            ]
        ]
    },
    {
        "id": "ccf355d99b7da903",
        "type": "file in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "filename": "/tmp/pushed_config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "7fa384e887d60e58"
            ]
        ]
    },
    {
        "id": "7fa384e887d60e58",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "31215317f079dc61"
            ]
        ]
    },
    {
        "id": "4de2424af7d2075f",
        "type": "http in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "url": "convertlink",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "645c8cb3cc0bc1c8"
            ]
        ]
    },
    {
        "id": "645c8cb3cc0bc1c8",
        "type": "http request",
        "z": "1298b4fe103a59c1",
        "name": "request convertif",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/convertif/eth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 390,
        "y": 640,
        "wires": [
            [
                "78435ec9640493c1"
            ]
        ]
    },
    {
        "id": "78435ec9640493c1",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "3e32988c805101a8"
            ]
        ]
    },
    {
        "id": "3e32988c805101a8",
        "type": "function",
        "z": "1298b4fe103a59c1",
        "name": "function 1",
        "func": "msg.payload2 = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 720,
        "wires": [
            [
                "d69fa32c75705569"
            ]
        ]
    },
    {
        "id": "d69fa32c75705569",
        "type": "http request",
        "z": "1298b4fe103a59c1",
        "name": "request links",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/links/layer3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 670,
        "y": 780,
        "wires": [
            [
                "92dd39c3fbd3c1f4"
            ]
        ]
    },
    {
        "id": "92dd39c3fbd3c1f4",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 850,
        "y": 780,
        "wires": [
            [
                "425f1a1ad3e2a05c"
            ]
        ]
    },
    {
        "id": "425f1a1ad3e2a05c",
        "type": "function",
        "z": "1298b4fe103a59c1",
        "name": "converlink",
        "func": "var links = msg[\"payload\"]\nvar convertdict = msg[\"payload2\"]\nvar convertlink = []\nfor (const item of links) {\n    var source = item[0]\n    var source_phrase = source.split(\":\")\n    var source_origin_node = source_phrase[0] \n    var source_origin_if = source_phrase[1] \n\n    for (const item2 of convertdict){\n        if (item2.node.original == source_origin_node){\n            var source_clab_node = item2.node.clab\n            for (const interface of item2.iflist){\n                if (interface.original.includes(source_origin_if)){\n                    var source_clab_if = interface.clab\n                }\n            }\n        }\n    }\n\n\n    var dest = item[1]\n    var dest_phrase = dest.split(\":\")\n    var dest_origin_node = dest_phrase[0]\n    var dest_origin_if = dest_phrase[1] \n\n    for (const item2 of convertdict) {\n        if (item2.node.original == dest_origin_node) {\n            var dest_clab_node = item2.node.clab\n            for (const interface of item2.iflist) {\n                if (interface.original.includes(dest_origin_if)) {\n                    var dest_clab_if = interface.clab\n                }\n            }\n        }\n    }\n    var source_clab = source_clab_node.concat(':', source_clab_if)\n    var dest_clab = dest_clab_node.concat(':', dest_clab_if)\n    convertlink.push({\"endpoints\":[source_clab, dest_clab]})\n\n}\nmsg.payload = convertlink\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 660,
        "wires": [
            [
                "cf326f38384d9e4f",
                "27bffccc4143dcf8"
            ]
        ]
    },
    {
        "id": "367703cd9e48d573",
        "type": "function",
        "z": "1298b4fe103a59c1",
        "name": "convertlist_ospf",
        "func": "var temp = msg[\"payload\"];\nvar array = [];\nvar loopback_regex = \"lo|Loop\"\nvar clab_loopback = \"lo\"\nfor (var tmpnode of temp) {\n  var array2 = []\n  for (let i = 0; i < tmpnode[\"iflist\"].length; i++) {\n    var convertlist = {};\n    var ifname;\n    if (tmpnode[\"node\"].includes(\"Seg\")){\n        ifname = \"Ethernet\";\n    }\n    else {\n      ifname = msg.req.params.ifname;\n    }\n    convertlist[\"original\"] = tmpnode[\"iflist\"][i];\n    if (tmpnode[\"iflist\"][i].match(loopback_regex)) {\n      convertlist[\"clab\"] = clab_loopback\n    }\n    else {\n      convertlist[\"clab\"] = ifname.concat('', i + 1)\n    }\n    array2.push(convertlist)\n  }\n  array.push({ \"node\": { \"original\": tmpnode[\"node\"], \"clab\": tmpnode[\"node\"].replace(\"/\", \"-\").replace(\"_\", \"-\") }, \"iflist\": array2 })\n}\nmsg.payload = array\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 460,
        "wires": [
            [
                "cf326f38384d9e4f"
            ]
        ]
    },
    {
        "id": "3d0bd55e413a1f45",
        "type": "http in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "url": "convertif/batfish/:ifname",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "d9a82264795ea862"
            ]
        ]
    },
    {
        "id": "d9a82264795ea862",
        "type": "http request",
        "z": "1298b4fe103a59c1",
        "name": "request layer_iflist",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/layer_iflist/layer3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "d5e491acc693be14"
            ]
        ]
    },
    {
        "id": "d5e491acc693be14",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 440,
        "wires": [
            [
                "367703cd9e48d573"
            ]
        ]
    },
    {
        "id": "7517bf00a075bfa3",
        "type": "http in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "url": "convertlink/batfish",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "6f30cbba6716daa3"
            ]
        ]
    },
    {
        "id": "6f30cbba6716daa3",
        "type": "http request",
        "z": "1298b4fe103a59c1",
        "name": "request convertif/batfish",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/convertif/batfish/eth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 370,
        "y": 720,
        "wires": [
            [
                "78435ec9640493c1"
            ]
        ]
    },
    {
        "id": "1ce1795cd441f628",
        "type": "http in",
        "z": "1298b4fe103a59c1",
        "name": "",
        "url": "description/batfish",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "c6d9f77847d220ee"
            ]
        ]
    },
    {
        "id": "c6d9f77847d220ee",
        "type": "http request",
        "z": "1298b4fe103a59c1",
        "name": "request convertlink/batfish",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/convertlink/batfish",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 350,
        "y": 820,
        "wires": [
            [
                "2f4ba1f2f01d0c3d"
            ]
        ]
    },
    {
        "id": "2f4ba1f2f01d0c3d",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 900,
        "wires": [
            [
                "7c3c8e9d30b23810"
            ]
        ]
    },
    {
        "id": "7c3c8e9d30b23810",
        "type": "function",
        "z": "1298b4fe103a59c1",
        "name": "function 2",
        "func": "msg.payload2 = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 920,
        "wires": [
            [
                "bec1cb245ea31b01"
            ]
        ]
    },
    {
        "id": "bec1cb245ea31b01",
        "type": "http request",
        "z": "1298b4fe103a59c1",
        "name": "request convertif/batfish",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/convertif/batfish/eth",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "606d5896efc226f1"
            ]
        ]
    },
    {
        "id": "3f266eb19df40d03",
        "type": "function",
        "z": "1298b4fe103a59c1",
        "name": "description",
        "func": "var tmpnodes = msg.payload\nvar convertlink = msg[\"payload2\"]\nvar descrlist = []\nfor (var targetnode of tmpnodes ) {\n    for (var interface of targetnode[\"iflist\"]) {\n        for ( var tmplink of convertlink) {\n            for (var tmpif of targetnode.iflist){\n                var split_endpoint = tmplink.endpoints[0].split(\":\")\n                var split_endpoint2 = tmplink.endpoints[1].split(\":\")\n                if (split_endpoint[0] == targetnode.node.clab && split_endpoint[1].includes(interface.clab)) {\n                    var to = \"to\"\n                    interface[\"ifDescr\"] = to.concat('_', tmplink.endpoints[1].replace(\":\", \"_\"))\n                }                \n                else if (split_endpoint2[0] == targetnode.node.clab && split_endpoint2[1].includes(interface.clab)) {\n                    var to = \"to\"\n                    interface[\"ifDescr\"] = to.concat('_', tmplink.endpoints[0].replace(\":\", \"_\"))\n                }\n            }\n\n        }\n    }\n}\n\nmsg.payload = tmpnodes\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 960,
        "wires": [
            [
                "f13b4f65690d24a4",
                "f0205f63334fa3f5"
            ]
        ]
    },
    {
        "id": "f13b4f65690d24a4",
        "type": "debug",
        "z": "1298b4fe103a59c1",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f0205f63334fa3f5",
        "type": "http response",
        "z": "1298b4fe103a59c1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 880,
        "wires": []
    },
    {
        "id": "606d5896efc226f1",
        "type": "json",
        "z": "1298b4fe103a59c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 1080,
        "wires": [
            [
                "3f266eb19df40d03"
            ]
        ]
    }
]